*{
    margin: 0px;
    padding:0px;
    color: black;
    text-decoration: none;
}
body{
    background-color: #FDE3FC;
}
nav{
    display: flex;
    height:8rem;
    background-color: #FDE3FC;
    font-family: 'Monoton';
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.top{
    background-color: #FDE3FC;
    border-bottom: 1px solid black;
    height:5%;
    width:100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
.menu{
    display: flex;
    height: 40px;
    width:50%;
}
.menu_list{
    display: inline-flex;
    list-style-type: none;
    height: 100%;
    width:100%;
    align-items: center;
    justify-content: space-around;
}
.menu_link{
    padding:5px 0px 5px 0px;
    position: relative;
}
.menu_link::after{
    content: "";
    z-index: 100;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 5px;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.menu_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.search_bar{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.search_form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: lightgray;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.search_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.search_icon{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    transition: all 1s;
}

.search_form:hover{
    width: 300px;
    cursor: pointer;
}

.search_form:hover input{
    display: inline-flex;
}

.search_form:hover .search_icon{
    background:gray;
}
.right_icons{
    height: 50px;
    width:fit-content;
    display:flex;
    position: relative;
    padding:0px;
}
.log_in_icon{
    height:50px;
    padding:0px;
}
.shopping_cart_icon{
    height:50px;
    padding:0px;
}
#log_in_icon_a{
    display: inline-flex;
    align-items: center;
}







.all_logo{
    display: flex;
}
.main_logo{
    position: relative;
    text-decoration: none;
}
.Icon{
    width:30px;
    height:30px;
    color:black;
}
.logo_hover {
    background-color: #CA4246;
    background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%, 
          #A7489B 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:rainbow-reverse 0.75s ease forwards ;
  }
  .logo_hover:hover{
      animation:rainbow 0.75s ease forwards ;
  }
  @keyframes rainbow-reverse {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  @keyframes rainbow {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
  }

