*{
    margin: 0px;
    padding:0px;
    color: black;
    text-decoration: none;
}
body{
    background-color: #ffffff;
}
nav{
    display: flex;
    height:8rem;
    background-color: #ffffff;
    font-family: 'Monoton';
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-top: 8vh;
}
.top{
    position: fixed;
    top:0;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: 1px solid black;
    height:8vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    
}
.menu{
    display: flex;
    height: 40px;
    width:50%;
}
.menu_list{
    display: inline-flex;
    list-style-type: none;
    width:100%;
    align-items: center;
    justify-content: space-around;
}
ul .menu_list{
    height:100%;
}
.menu_link{
    padding:5px 0px 5px 0px;
    position: relative;
}
.menu_link::after{
    content: "";
    z-index: 100;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.menu_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.search_bar{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.search_form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: lightgray;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid lightgray;
    padding: 5px;
}

.search_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.search_icon{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    transition: all 1s;
}

.search_form:hover{
    width: 300px;
    cursor: pointer;
}

.search_form:hover input{
    display: inline-flex;
}

.search_form:hover .search_icon{
    background:gray;
}
.right_icons{
    height: 50px;
    width:fit-content;
    display:flex;
    padding:0px;
}
.all_logo{
    display: flex;
}
.main_logo{
    position: relative;
    text-decoration: none;
}
.Icon{
    width:30px;
    height:30px;
    color:black;
}
.logo_hover {
    background-color: #CA4246;
    background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%, 
          #A7489B 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:rainbow-reverse 0.75s ease forwards ;
  }
  .logo_hover:hover{
      animation:rainbow 0.75s ease forwards ;
  }
  .pokaz_zdjec{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 73vh;
    border-bottom: 1px solid black;
  }
  .Slide{
    width: 90%;
    max-height: 65vh;
    filter: grayscale(100%);
    border-radius: 10px;
  }

  .categories{
    width:90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    
  }
  .tytul{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 40px;
    width:100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}
  .monalisa{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin:1%;
    position: relative;
  }
  .monalisa::after{
    content: "Leonardo Da Vinci namalował ten jeden z najbardziej rozpoznawalnych obrazów świata pomiędzy 1503 a 1517 rokiem. Na przestrzeni lat badaczy nękało pytanie kim jest ta tajemnicza kobieta ze swoim słynnym uśmiechem. Teorie są różne: że jest to żona florenckiego kupca Francesco di Bartolomeo del Giocondo (stąd alternatywny tytuł dzieła, La Gioconda); że na portrecie jest matka Leonarda – Cateriną; a nawet że jest to sam Leonardo w wersji drag queen. Obraz można obejrzeć w Luwrze w Paryżu.";
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    color:lightgray;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border-radius:10px ;
    max-width: 40vw;
    padding:0 5vw 0 5vw;
    height:300px;
    background-color: rgba(211, 211, 211, 0.459);
    transform:scaleX(0);
    transform-origin: right;
    transition: all 0.3s;
  }
  .monalisa:hover::after{
    visibility: visible;
    transform:scaleX(1);
  }
  .wieczerza{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin:1%;
    position: relative;
  }
  .wieczerza::after{
    content:"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis vel impedit voluptatum maxime quia ipsum fugiat incidunt accusantium, laboriosam optio ratione repellat debitis officiis quae, adipisci velit in, eaque sed!";
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    color:lightgray;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border-radius:10px ;
    max-width: 40vw;
    padding:0 5vw 0 5vw;
    height:100px;
    background-color: rgba(211, 211, 211, 0.459);
    transform:scaleX(0);
    transform-origin: right;
    transition: all 0.3s;
  }
  .wieczerza:hover::after{
    visibility: visible;
    transform:scaleX(1);
  }
  .perla{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin:1%;
    position: relative;
  }
  .perla::after{
    content:"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis vel impedit voluptatum maxime quia ipsum fugiat incidunt accusantium, laboriosam optio ratione repellat debitis officiis quae, adipisci velit in, eaque sed!";
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    color:lightgray;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border-radius:10px ;
    max-width: 40vw;
    padding:0 5vw 0 5vw;
    height:300px;
    background-color: rgba(211, 211, 211, 0.459);
    transform:scaleX(0);
    transform-origin: right;
    transition: all 0.3s;
  }
  .perla:hover::after{
    visibility: visible;
    transform:scaleX(1);
  }
  #painting img {
    width:50vw;
    max-height: 100vh;
    border-radius: 10px;
  }
  #painting{
    margin:1%;
    padding:1%;
    background-color: lightgray;
  }
  .dawid{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin:1%;
    position: relative;
  }
  .dawid::after{
    content:"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis vel impedit voluptatum maxime quia ipsum fugiat incidunt accusantium, laboriosam optio ratione repellat debitis officiis quae, adipisci velit in, eaque sed!";
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    color:lightgray;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border-radius:10px ;
    max-width: 40vw;
    padding:0 5vw 0 5vw;
    height:300px;
    background-color: rgba(211, 211, 211, 0.459);
    transform:scaleX(0);
    transform-origin: right;
    transition: all 0.3s;
  }
  .dawid:hover::after{
    visibility: visible;
    transform:scaleX(1);
  }
  .nike{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin:1%;
    position: relative;
  }
  .nike::after{
    content:"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis vel impedit voluptatum maxime quia ipsum fugiat incidunt accusantium, laboriosam optio ratione repellat debitis officiis quae, adipisci velit in, eaque sed!";
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    color:lightgray;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border-radius:10px ;
    max-width: 40vw;
    padding:0 5vw 0 5vw;
    height:300px;
    background-color: rgba(211, 211, 211, 0.459);
    transform:scaleX(0);
    transform-origin: right;
    transition: all 0.3s;
  }
  .nike:hover::after{
    visibility: visible;
    transform:scaleX(1);
  }
  .pieta{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin:1%;
    position: relative;
  }
  .pieta::after{
    content:"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis vel impedit voluptatum maxime quia ipsum fugiat incidunt accusantium, laboriosam optio ratione repellat debitis officiis quae, adipisci velit in, eaque sed!";
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    color:lightgray;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border-radius:10px ;
    max-width: 40vw;
    padding:0 5vw 0 5vw;
    height:300px;
    background-color: rgba(211, 211, 211, 0.459);
    transform:scaleX(0);
    transform-origin: right;
    transition: all 0.3s;
  }
  .pieta:hover::after{
    visibility: visible;
    transform:scaleX(1);
  }
  #sculpture img{
    width:50vw;
    max-height: 100vh;
    border-radius: 10px;
  }
  #sculpture{
    margin:1%;
    padding:1%;
    background-color: lightgray;
  }
  .lunch{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin:1%;
    position: relative;
  }
  .lunch::after{
    content:"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis vel impedit voluptatum maxime quia ipsum fugiat incidunt accusantium, laboriosam optio ratione repellat debitis officiis quae, adipisci velit in, eaque sed!";
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    color:lightgray;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border-radius:10px ;
    max-width: 40vw;
    padding:0 5vw 0 5vw;
    height:300px;
    background-color: rgba(87, 71, 71, 0.664);
    transform:scaleX(0);
    transform-origin: right;
    transition: all 0.3s;
  }
  .lunch:hover::after{
    visibility: visible;
    transform:scaleX(1);
  }
  .tank{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin:1%;
    position: relative;
  }
  .tank::after{
    content:"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis vel impedit voluptatum maxime quia ipsum fugiat incidunt accusantium, laboriosam optio ratione repellat debitis officiis quae, adipisci velit in, eaque sed!";
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    color:lightgray;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    bottom: 0;
    border-radius:10px ;
    max-width: 40vw;
    padding:0 5vw 0 5vw;
    height:200px;
    background-color: rgba(87, 71, 71, 0.664);
    transform:scaleX(0);
    transform-origin: right;
    transition: all 0.3s;
  }
  .tank:hover::after{
    visibility: visible;
    transform:scaleX(1);
  }
  .photography img{
    width:50vw;
    max-height: 100vh;
    border-radius: 10px;
  }
  .photography{
    margin:1%;
    padding:1%;
    background-color: lightgray;
  }







  @keyframes rainbow-reverse {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  @keyframes rainbow {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
  }

